h1 {
  color: red;
  font-size: 47px;
}
h2 {
  color: blue;
}

/* This is comments in CSS */
/* selectors h1, h2, table classes ids ...... */
/* CSS Rule */
/* declaration block */
/* property */
/* value */
