* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("./bcg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1 {
  font-size: 7rem;
  color: white;
  text-shadow: 0px 3px 7px gray;
}
.banner {
  width: 100vw;
  height: 100vh;
  background: url("./bcg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
