/* 
    inline-block
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  background: #222;
  margin: 10px;
  color: white;
  display: inline-block;
  /* display: block; */
  /* padding: 10px 10px; */
  /* margin: 7px; */
  /* padding: 5px 20px; */
  /* margin: 10px 15px; */
}
