/* font-weight
font-style
text-align
text-indent */

body {
  font-weight: bolder;
  font-style: italic;
  /* text-align: right; */
}

.main {
  text-align: center;
}

.one {
  font-weight: bold;
  font-style: italic;
  /* text-align: right; */
  text-indent: 150px;
}

.two {
  font-weight: bolder;
  font-style: oblique;
  /* text-align: center; */
}

.three {
  /* font-weight: lighter; */
  font-weight: 400;
  font-style: normal;
  /* text-align: left; */
}
