/* 
    text-shadow
    box-shadow
*/

h1 {
  color: blue;
  font-size: 3.5rem;
  /* text-shadow: x-axis y-axis blur color; */
  /* text-shadow: 3px 5px 7px rgba(117, 117, 117, 0.616); */
  text-shadow: 10px 14px 0px rgba(154, 150, 150, 0.54);
}

.box {
  width: 250px;
  height: 100px;
  /* background: green; */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(blue),
    to(red)
  );
  background: -o-linear-gradient(blue, red);
  background: linear-gradient(blue, red);
  transition: all 0.7s linear;
  /* box-shadow: x-axis y-axis blur spreadRadius(OPTIONAL) color; */
  /* box-shadow: 5px 7px 8px rgba(117, 116, 116, 0.52); */
}

.box:hover {
  box-shadow: 32px 36px 0px 7px rgba(49, 49, 49, 0.76);
  -webkit-box-shadow: 32px 36px 0px 7px rgba(49, 49, 49, 0.76);
  -moz-box-shadow: 32px 36px 0px 7px rgba(49, 49, 49, 0.76);
}
