/* 
  transition: change over time
  transition-property:
  transition-duration:
  transition-delay:
  shorthand

  How the transition takes place
  transition-timing-function
  transition: all 3s here 5s;
  ease = default
  ease = slow start, fast, slow end
  linear = same speed start to end
  ease-in = slow start
  ease-out = slow end
  ease-in-out = slow start, fast, slow end
*/

div {
  width: 100px;
  height: 100px;
  margin: 15px;
  color: white;
  background: blue;
  border-radius: 7px;
  text-align: center;
  transition: all 1s;
}

div:hover {
  transform: translateX(127px);
}

.ease {
  /* transition: all 1s ease; */
  transition-timing-function: ease;
}

.ease-in {
  transition-timing-function: ease-in;
}

.ease-out {
  transition-timing-function: ease-out;
}
.ease-in-out {
  transition-timing-function: ease-in-out;
}
