/* 
  animatioin-fill-mode:
*/

div {
  width: 200px;
  height: 100px;
  color: white;
}

.animation {
  background: blue;
  animation: newAnimation 10s 2;
  animation-fill-mode: forwards;
}

@keyframes newAnimation {
  0% {
    opacity: 0;
  }
  25% {
    transform: translateX(200px);
    opacity: 0.25;
  }
  50% {
    transform: translateX(-100px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0.5;
  }
}
